
<mat-toolbar style="color: rgb(255, 255, 255);background-color: cadetblue;">
  <!-- <mat-toolbar-row> -->


    <a style="font-size: 16px;text-align: right">สวัดดี คุณ{{message}}</a>
    <!-- &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
          &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; -->

    <a class="ml-6" mat-button [routerLink]="'/dashboard'">  Dashboard </a>
    <!-- <a mat-button [routerLink]="'/vote'"> Vote </a>  -->
    <!-- <div class="text-tr" > -->
    <a style="font-size: 16px;text-align: right;" mat-button [routerLink]="'/login'"> Logout </a>

    <!-- </div>        -->
  <!-- </mat-toolbar-row> -->
</mat-toolbar>
